.bg{
    background-color: #dcddff;
    height: 100vh;
    width: 18%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.profile{
    width: 70%;
    transform: translate(5%,70%);
    display: inline-block;
}
.profileImg{
    width: 20%;
}
.name{
    font-size: 100%;
    text-align: start;
    display: inline-block;
    margin-left: 10%;
}